.c-jobs-list-split__list-icon {

    /* box-model */
    width: 14px;
    height: 9px;
    min-width: 15px;
    min-height: 10px;
}

.c-jobs-list-split__list-item {
    
    &:last-of-type {

        /* box-model */
        margin-bottom: 0;
    }
}