.c-landing-slider .flickity-page-dots {
  /* positioning */
  position: relative;
  bottom: 0;
  @apply .mt-4;

  @screen xlarge {
    @apply .mt-6;
  }
}

.c-landing-slider .flickity-page-dots .dot {
  /* box-model */
  width: 20px;
  height: 20px;
  margin: 8px;

  /* visual */
  border-radius: 4px;
  @apply .bg-xynomix-mako;
  opacity: 0.6;

  /* transition */
  transition: $defaultAnimation;

  &.is-selected {
    /* visual */
    @apply .bg-xynomix-red-ribbon;
  }
}

.c-landing-slider .flickity-viewport {
  transition: $defaultAnimation;
}

.c-landing-slider__prev {
  @screen xxlarge {
    position: absolute;
    top: calc(50% - 49px);
    transform: translateY(-50%) scaleX(-1);
    left: 0;
  }
}

.c-landing-slider__next {
  @screen xxlarge {
    position: absolute;
    top: calc(50% - 49px);
    transform: translateY(-50%);
    right: 0;
  }
}

.c-landing-slider .flickity-viewport {
  /* positioning */
  overflow: visible;

  @screen xxlarge {
    /* positioning */
    overflow: hidden;
  }
}
