.c-contact-buckets {

    @include margin-top(-90);

    @screen xxlarge {

        /* box-model */
        @include margin-top(-200);
    }
}

.c-contact-buckets__item {

    /* visual */
    box-shadow: 0px 1px 3px rgba(#A2A1A1, 0.5);
}

.c-contact-buckets__icon {

    /* box-model */
    width: 91px;
    height: 91px;

    @screen xxlarge {

        /* box-model */
        width: 150px;
        height: 150px;
    }
}

.c-contact-buckets__email {
    min-width: 190px;
    width: 190px;
}

.c-contact-buckets__tel {
    min-width: 150px;
    width: 150px;
}