.c-home-clients {

    /* box-model */
    width: 110%;
    margin-left: -10%;
    padding-left: 10%;
    @include padding-top(80);
    @include padding-bottom(55);

    /* visual */
    border-radius: 200vh 0vh 0% 0% / 40vh 0vh 0% 0%;
    background: linear-gradient(140deg, config('colors.xynomix-red-ribbon') 0%, config('colors.xynomix-jaffa') 100%);

    @screen xxlarge {

        /* box-model */
        @include padding-top(180);
        @include padding-bottom(113);
    }
}

.c-home-clients__intro-copy {

    /* box-model */
    max-width: 800px;
}

.c-home-clients__grid {

    /* box-model */
    padding-bottom: 45px;

    @screen large {

        /* box-model */
        padding-bottom: 0px;
    }
}

.c-home-clients__grid-icon {

    /* box-model */
    width: 130px;
    min-width: 130px;
    height: 130px;
    min-height: 130px;

    @screen large {

        /* box-model */
        width: 175px;
        min-width: 175px;
        height: 175px;
        min-height: 175px;
    }

    /* visual */
    box-shadow: 0px 16px 34px -7px rgba(0, 0, 0, 0.35);
    border-radius: 100%;
}

.c-home-clients__grid-item {

    /* box-model */
    width: calc(50% + 1px);
    justify-content: flex-end;
    margin-bottom: -45px;

    &:nth-of-type(2n) {
        
        margin-left: auto;
        justify-content: flex-start;
    }
    
     
    @screen large {
        margin-bottom: 0;
        transform: scale(0.75);
        @apply .w-1/3; 


        &:nth-of-type(5n+1) {
            
            justify-content: flex-start!important;
            margin-left: 0;
        } 


        &:nth-of-type(5n+2) {
            
            justify-content: center!important;
            margin-left: 0;
        }         

        &:nth-of-type(5n+3) {
            justify-content: flex-end!important;
            margin-left: 0;
        }

        &:nth-of-type(5n+ 4) {

            .c-home-clients__grid-icon {

                transform: translateX(25%);
            }
        }

        &:nth-of-type(5n+ 5) {

            .c-home-clients__grid-icon {

                transform: translateX(-25%);
            }
        }    

        &:nth-of-type(5n+ 4),
        &:nth-of-type(5n+ 5), {

            width: 50%;
            margin-top: -40px;
            justify-content: center!important;
            margin-left: 0;
        }        
    }

    @screen xxlarge {
        transform: scale(1);
    }
    
}
