
.c-home-buckets {

    &:after {
        
        /* enable flickity */
        content: 'flickity';
        display: none;

        @screen xxlarge {

            /* disable flickity */
            content: '';
        }
    }

    .flickity-viewport {
        
        /* visual */
        overflow: visible;
    }

    .flickity-slider {
        
        /* poisitioning */
        display: flex;
    }
}

.c-home-buckets-icon {

    /* box-model */
    width: 95px;
    height: 95px;

    @screen xxlarge {

        /* box-model */
        width: 150px;
        height: 150px;
    }
}

.c-home-buckets-item {

    /* transition */
    transition: $defaultAnimation;
    
    /* visual */
    box-shadow: 0px 1px 3px rgba(#A2A1A1, 0.5);
    border-radius: 15px;

    /* box-model */
    min-height: 350px;

    @screen xxlarge {

        /* box-model */
        min-height: 0;
    }

    &:hover {

        /* visual */
        background-color: black;
        
        * {

            /* visual */
            color: white;
        }

        .btn {

            /* btn hover */
            @include btn--arrow-hover;
        }
    }
}

.c-home-buckets .is-selected .c-home-buckets-item {

    /* visual */
    box-shadow: 0px 22px 34px -7px rgba(#A2A1A1, 0.5);
}

.c-home-buckets .flickity-page-dots {

    /* positioning */
    position: relative;
    bottom: 0;
    
    /* box-model */
    @apply .mt-8;
}

.c-home-buckets .flickity-page-dots .dot {

    /* box-model */
    width: 20px;
    height: 20px;
    margin: 8px;
    
    /* visual */
    border-radius: 4px;
    @apply .bg-xynomix-mako;
    opacity: 0.6;

    /* transition */
    transition: $defaultAnimation;

    &.is-selected {
        
        /* visual */
        @apply .bg-xynomix-red-ribbon;
    }
}