.btn {
    display                    : inline-block;
    text-align                 : center;
    text-decoration            : none;
    cursor                     : pointer;
    touch-action               : manipulation;
    user-select                : none;
}

.btn--primary {

    /* typography */
    @apply .font-xynomix-heading .text-base .leading-super .tracking-base .font-normal;

    /* box-model */
    @include padding(16);
    min-width: 175px;

    /* visual */
    border: 1px solid black;
    color: black;
    border-radius: 100px;
    background-color: transparent;

    /* transition */
    transition: $defaultAnimation;


    &:hover {

        /* visual */
        @apply .text-xynomix-red-ribbon .border-xynomix-red-ribbon;
    }
}

@mixin btn--primary-hover {
    
    /* visual */
    @apply .text-xynomix-red-ribbon .border-xynomix-red-ribbon;
} 

.btn--primary-alt {

    /* typography */
    @apply .font-xynomix-heading .text-base .leading-super .tracking-base .font-normal;

    /* box-model */
    @include padding(16);
    min-width: 175px;

    /* visual */
    border: 1px solid white;
    color: white;
    border-radius: 100px;
    background-color: transparent;

    /* transition */
    transition: $defaultAnimation;


    &:hover {

        /* visual */
        @apply .border-xynomix-red-ribbon .bg-xynomix-red-ribbon;
    }
}

.btn--primary-alt2 {

    /* typography */
    @apply .font-xynomix-heading .text-base .leading-super .tracking-base .font-normal;

    /* box-model */
    @include padding(16);
    min-width: 175px;

    /* visual */
    border: 1px solid white;
    color: white;
    border-radius: 100px;
    background-color: transparent;

    /* transition */
    transition: $defaultAnimation;


    &:hover {

        /* visual */
        border: 1px solid white;
        background-color: white;
        @apply .text-xynomix-red-ribbon;
    }
}

@mixin btn--primary-alt2-hover {

    /* visual */
    border: 1px solid white;
    background-color: white;
    @apply .text-xynomix-red-ribbon;
}

.btn--primary-alt3 {

    /* typography */
    @apply .font-xynomix-heading .text-base .leading-super .tracking-base .font-normal;

    /* box-model */
    @include padding(16);
    min-width: 175px;

    /* visual */
    border: 1px solid white;
    @apply .text-xynomix-red-ribbon;
    border-radius: 100px;
    background-color: white;

    /* transition */
    transition: $defaultAnimation;


    &:hover {

        /* visual */
        border: 1px solid white;
        background-color: transparent;
        color: white;
    }
}

.btn--secondary {

    /* typography */
    @apply .font-xynomix-heading .text-base .leading-super .tracking-base .font-normal;

    /* box-model */
    @include padding(16);
    min-width: 175px;

    /* visual */
    border: 1px solid black;
    color: white;
    border-radius: 100px;
    background-color: black;

    /* transition */
    transition: $defaultAnimation;


    &:hover {

        /* visual */
        @apply .bg-xynomix-red-ribbon .border-xynomix-red-ribbon;
    }
}

.btn--secondary-alt {

    /* typography */
    @apply .font-xynomix-heading .text-base .leading-super .tracking-base .font-normal;

    /* box-model */
    @include padding(16);
    min-width: 175px;

    /* visual */
    border: 1px solid black;
    color: white;
    border-radius: 100px;
    background-color: black;

    /* transition */
    transition: $defaultAnimation;

    &:hover {

        /* visual */
        @apply .text-xynomix-red-ribbon;
        background-color: white;
        border: 1px solid white;
    }
}

.btn--secondary-alt2 {

    /* typography */
    @apply .font-xynomix-heading .text-base .leading-super .tracking-base .font-normal;

    /* box-model */
    @include padding(16);
    min-width: 175px;

    /* visual */
    border: 1px solid config('colors.xynomix-red-ribbon');
    color: white;
    border-radius: 100px;
    background-color: config('colors.xynomix-red-ribbon');

    /* transition */
    transition: $defaultAnimation;

    &:hover {

        /* visual */
        @apply .text-xynomix-red-ribbon;
        background-color: white;
        border: 1px solid white;
    }
}


.btn--arrow {
    
    /* typography */
    @apply .font-xynomix-heading .text-medium .leading-super .tracking-base .font-normal;

    /* visual */
    @apply .text-xynomix-red-ribbon;

    /* positioning */
    display: flex;
    align-items: center;

    /* transition */
    transition: $defaultAnimation;

    &:hover,
    &.active {

        .btn--arrow__icon {

            /* visual */
            opacity: 1;
        
            /* positioning */
            transform: translateX(0px);
        }

        .btn--arrow__text {
            
            /* positioning */
            transform: translateX(0px);
        }
    }
}

@mixin btn--arrow-hover {

    .btn--arrow__icon {

        /* visual */
        opacity: 1;
    
        /* positioning */
        transform: translateX(0px);
    }

    .btn--arrow__text {
        
        /* positioning */
        transform: translateX(0px);
    }
}

.btn--arrow__icon {

    /* visual */
    @apply .text-xynomix-red-ribbon;
    opacity: 0;
    
    /* box-model */
    width: 13px;
    height: 11px;
    @include margin-right(6);
    
    /* positioning */
    position: relative;
    transform: translateX(-6px);

    /* transition */
    transition: $defaultAnimation;
}

.btn--arrow__text {

    /* transition */
    transition: $defaultAnimation;
    
    /* positioning */
    transform: translateX(-17px);

}
.btn--circle {

    /* box-model */
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    height: 50px;

    /* visual */
    border-radius: 100%;
    border: 1px solid config('colors.xynomix-red-ribbon');

    /* positioning */
    position: relative;

    /* transition */
    transition: $defaultAnimation;

    &:hover {
        
        /* visual */
        @apply .bg-xynomix-red-ribbon;

        .btn--circle__icon {
        
            /* visual */
            color: white;
        }
    }

    &-left {

        /* positioning */
        transform: scaleX(-1);
    }

}

.btn--circle__icon {

    /* box-model */
    width: 13px;
    height: 11px;

    /* positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* transition */
    transition: $defaultAnimation;

    /* visual */
    @apply .text-xynomix-red-ribbon;
}

.btn--circle-alt {

    /* box-model */
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    height: 50px;

    /* visual */
    border-radius: 100%;
    border: 1px solid white;

    /* positioning */
    position: relative;

    /* transition */
    transition: $defaultAnimation;

    .btn--circle__icon {

        /* visual */
        color: white;
    }

    &:hover {
        
        /* visual */
        @apply .bg-xynomix-red-ribbon;
        border: 1px solid config('colors.xynomix-red-ribbon');
    }
}

.btn--circle-alt2 {

    /* box-model */
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    height: 50px;

    /* visual */
    border-radius: 100%;
    border: 1px solid white;

    /* transition */
    transition: $defaultAnimation;

    /* positioning */
    position: relative;

    .btn--circle__icon {

        /* visual */
        color: white;
    }

    &:hover {
        
        /* visual */
        background-color: white;
        border: 1px solid white;

        .btn--circle__icon {

            /* visual */
            @apply .text-xynomix-red-ribbon;
        }
    }
}

.btn--bio {

    /* box-model */
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    height: 50px;

    /* visual */
    border-radius: 100%;
    border: 1px solid white;
    color: white;
    overflow: hidden;

    /* positioning */
    position: relative;

    /* transition */
	transition: $defaultAnimation;

    /* typography */
    @apply .font-xynomix-heading .text-medium .leading-giant .tracking-base .font-normal;

    &:hover {
        
        /* visual */
        @apply .bg-xynomix-red-ribbon;
        border: 1px solid config('colors.xynomix-red-ribbon');
    }

    &.active {
        
        .btn--bio__icon {

            /* positioning */
            transform: translate(-50%, -50%);
            top: 50%;

            /* visual */
            opacity: 1;
        }
        
        .btn--bio__text {
            
            /* positioning */
            transform: translate(-50%, 0%);
            top: 100%;

            /* visual */
            opacity: 0;
        }
    }
}

.btn--bio__text {

    /* positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* visual */
    opacity: 1;

    /* transition */
    transition: $defaultAnimation;

}

.btn--bio__icon {

    /* positioning */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 100%;
    
	/* box-model */
    height: 21px;
    width: 21px;
    
    /* transition */
    transition: $defaultAnimation;

    /* visual */
    opacity: 0;

	&:before {

		/* positioning */
		position: absolute;

		left: 0;
		top: 50%;
        transform: translateY(-50%) rotate(45deg);
        
		/* box-model */
		content: "";
		height: 1px;
		width: 100%;
		display: block;

		/* visual */
		background-color: white;

		/* transition */
		transition: $defaultAnimation;
	}

	&:after {

		/* positioning */
		position: absolute;
		bottom: 50%;
		transform: translateY(50%) rotate(-45deg);
		left: 0;

		/* box-model */
		content: "";
		height: 1px;
		width: 100%;
		display: block;
		
		/* visual */
		background-color: white;

		/* transition */
		transition: $defaultAnimation;
	}
}



.btn--search {

    /* box-model */
    width: 50px;
    height: 50px;

    /* visual */
    border-radius: 100%;
    border: 1px solid white;

    /* positioning */
    position: relative;

    /* transition */
    transition: $defaultAnimation;

    &:hover {
        
        /* visual */
        background-color: white;

        .btn--search__icon {
        
            /* visual */
            @apply .text-xynomix-red-ribbon;
        }
    }

}

.btn--search__icon {

    /* box-model */
    width: 16px;
    height: 16px;

    /* positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* visual */
    color: white;

    /* transition */
    transition: $defaultAnimation;
}

.btn--accordion {

    /* positioning */
    position: relative;
    
	/* box-model */
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    
    /* transition */
    transition: $defaultAnimation;

	&:before {

		/* positioning */
		position: absolute;

		left: 0;
		top: 50%;
        transform: translateY(-50%);
        
		/* box-model */
		content: "";
		height: 1px;
		width: 100%;
		display: block;

		/* visual */
        @apply .bg-xynomix-red-ribbon;

		/* transition */
		transition: $defaultAnimation;
	}

	&:after {

		/* positioning */
		position: absolute;
		bottom: 50%;
		transform: translateY(50%) rotate(-90deg);
		left: 0;

		/* box-model */
		content: "";
		height: 1px;
		width: 100%;
		display: block;
		
		/* visual */
		@apply .bg-xynomix-red-ribbon;

		/* transition */
		transition: $defaultAnimation;
    }
    
    &.active {
        
        /* positioning */
        transform: rotate(135deg);
    }
}

.btn--back {

    /* typography */
    @apply .font-xynomix-heading .text-base .leading-super .tracking-base .font-normal;

    /* box-model */
    @include padding(16);
    min-width: 125px;

    /* visual */
    border: 1px solid white;
    color: white;
    border-radius: 100px;
    background-color: transparent;

    /* positioning */
    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* transition */
    transition: $defaultAnimation;

    &:hover {

        /* visual */
        border: 1px solid white;
        background-color: white;
        @apply .text-xynomix-red-ribbon;

        .btn--back__icon {

            /* visual */
            @apply .text-xynomix-red-ribbon; 
        }
    }
    
}

.btn--back__icon {

    /* visual */
    color: white;
    
    /* box-model */
    width: 13px;
    height: 11px;
    @include margin-right(6);
    
    /* positioning */
    position: relative;
    transform: scaleX(-1);

    /* transition */
    transition: $defaultAnimation;
}

.btn--pagination {

    /* box-model */
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    height: 50px;

    /* typography */
    @apply .font-xynomix-heading .text-base .leading-giant .tracking-base .font-normal;

    /* visual */
    border-radius: 100%;
    border: 1px solid config('colors.xynomix-mako');
    @apply .text-xynomix-raven;

    /* positioning */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition */
    transition: $defaultAnimation;

    &:hover,
    &.active {
        
        /* visual */
        border: 1px solid config('colors.xynomix-red-ribbon');
        @apply .text-xynomix-red-ribbon;
    }
}