.c-case-studies-cta-item {

    /* visual */
    box-shadow: 0px 16px 34px -7px rgba(#A2A1A1, 0.5);
    border-radius: 14px;
    overflow: hidden;
}

.c-case-studies-cta.no-dots .c-case-studies-cta__slider .flickity-page-dots  {

    /* box-model */
    display: none;
}

.c-case-studies-cta__slider .flickity-page-dots {

    /* positioning */
    position: relative;
    bottom: 0;
}

.c-case-studies-cta__slider .flickity-page-dots .dot {

    /* box-model */
    width: 20px;
    height: 20px;
    margin: 8px;
    
    /* visual */
    border-radius: 4px;
    @apply .bg-xynomix-mako;
    opacity: 0.6;

    /* transition */
    transition: $defaultAnimation;

    &.is-selected {
        
        /* visual */
        @apply .bg-xynomix-red-ribbon;
    }
}

.c-case-studies-cta__slider .flickity-viewport {

    /* positioning */
    overflow: visible;

    @screen xxlarge {

        /* positioning */
        overflow: hidden;
    }
}

.c-case-studies-cta__prev-wrapper {
    
    /* box-model */
    display: none;

    @screen xxlarge {

        /* box-model */
        display: flex;
    }
}

.c-case-studies-cta__next-wrapper {
    
    /* box-model */
    display: none;

    @screen xxlarge {

        /* box-model */
        display: flex;
    }
}