.c-contact-cta {

    /* box-model */
    width: 110%;
    margin-right: -10%;
    padding-right: 10%;
    @include padding-top(50);
    @include padding-bottom(85);

    /* visual */
    border-radius: 0vh 200vh 0% 0% / 0vh 40vh 0% 0%;
    background: linear-gradient(180deg, #F9F3F3 0%, white 100%);

    @screen xxlarge {

        /* box-model */
        @include padding-top(130);
        @include padding-bottom(85);
    }
}

.c-contact-cta__form {

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    textarea {

        /* visual */
        border: none;
        border-bottom: 1px solid config('colors.xynomix-raven');
        background-color: transparent;
        text-transform: none;
        @apply .text-xynomix-raven;

        /* box-model */
        height: auto;
        @apply .pb-1 .px-0;
        @apply .mb-4;
        width: 100%;

        /* typography */
        @include xynomix-copy-m;

         @include placeholder {

            /* typography */
            @include xynomix-copy-m;
            opacity: 1;
        }
    }

    textarea {

        /* box-model */
        height: 200px;
    }

    label.upload {

        /* box-model */
        width: 100%;
        
        /* positioning */
        display: flex;
        align-items: center;

        /* typography */
        @include xynomix-copy-m;

         /* visual */
        border: none;
        border-bottom: 1px solid config('colors.xynomix-raven');
        background-color: transparent;
        text-transform: none;
        @apply .text-xynomix-raven;
        @apply .mb-4;

        /* box-model */
        height: auto;
        @apply .pb-1 .px-0;
        width: 100%;

        h4 {
            /* typography */
            @include xynomix-copy-m;
            @apply .text-xynomix-raven;
            width: 100%;
            
            /* box-model */
            @apply .mr-4;
        }

        input[type='file'] {

            border: none;
        }
    }

    input[type='submit'] {

        /* box-model */
        height: auto;
        padding: 0;
        margin-top: 20px;

        /* visual */
        border: none;
        background-color: transparent;
        text-transform: none;
        @apply .text-xynomix-red-ribbon;
        cursor: pointer;
        appearance: none;
        opacity: 1;

        /* typography */
        @include xynomix-copy-m;

    }
}

.c-contact-cta__form div.wpcf7-validation-errors,
.c-contact-cta__form div.wpcf7-mail-sent-ok,
.c-contact-cta__form div.wpcf7-mail-sent-ng, 
.c-contact-cta__form div.wpcf7-aborted, {

	/* visual */
	border: none;
	width: 100%;
	@apply .text-xynomix-raven;

	/* box-model */
	padding: 0;
	margin: 0;
	margin-top: 10px;

	/* typography */
	@include xynomix-copy-m;
}

// div.wpcf7 .c-contact-cta__form .ajax-loader,
// div.wpcf7 .c-newsletter__form .ajax-loader {

// 	/* visual */
// 	background-image: url('../img/loaders/loxley-white-loader.gif');
// 	background-size: contain;
// 	background-repeat: no-repeat;

// 	/* box-model */
// 	width: 100%;
// 	height: 30px;
// 	margin: 10px 0px;
// 	margin-left: auto;

// 	display: none;

// 	&.is-active {
// 		display: block;
// 	}
// }

.c-contact-cta__form .wtcf7-not-valid-tip {

	/* box-model */
	margin: 0;
	margin-top: -5px;
	margin-bottom: 10px;
}

.c-contact-cta__form .wtcf7-not-valid-tip {

	/* box-model */
	margin-top: 0px;
}

.c-contact-cta__form .wpcf7-acceptance {

    /* box-model */
    width: 100%;
    @apply .mb-4;
    display: block;

    * {
        /*  visual */
        @apply .text-xynomix-raven;

        /* box-model */
        padding: 0;
        margin: 0;

        /* typography */
        @include xynomix-copy;
        font-weight: 400;

        @screen xxlarge {

            /* typography */
            @include xynomix-copy;
            font-weight: 400;
        }
    }

    label {

        /* positioning */
        display: flex;
        align-items: baseline;

        .wpcf7-list-item-label {
            
            /* typography */
            @include xynomix-copy-xs;
            font-weight: 400;
        }        
    }

    input[type="checkbox"] {

        /* box-model */
        width: auto;
        height: auto;
        margin-top: 0;
        margin-right: 10px;
    }
}

.wpcf7-recaptcha {
    transform: scale(0.7);
    transform-origin: 0 0;

    @screen large {
        transform: scale(1);
    }
}