.c-checkerboard__image {
    
    /* visual */
    box-shadow: 0 24px 30px -7px rgba(0, 0, 0, 0.3);
}

.c-checkerboard__item {

    &:last-of-type {

        /* box-model */
        margin-bottom: 0;
    }

    @screen large {
    
        &:nth-of-type(2n) {
            
            .c-checkerboard__item-inner {
                
                /* positioning */
                flex-direction: row-reverse;
            }
        }
    }
}

.c-checkerboard__solutions-item {

    &:not(:last-of-type) {
        
        /* box-model */
        @apply .mr-3;

        &:after {
            
            /* box-model */
            @apply .ml-3;
            content: '|';
        }

        @screen xxlarge {

            /* box-model */
            @apply .mr-4;

            &:after {
                
                /* box-model */
                @apply .ml-4;
                content: '|';
            }
        }
    }
}

.c-checkerboard__categories-item {

    &:not(:last-of-type) {
        
        /* box-model */
        @apply .mr-3;

        @screen xxlarge {

            /* box-model */
            @apply .mr-4;
        }
    }

    /* visual */
    border-radius: 100px;
    border: 1px solid;
    @apply .border-xynomix-red-ribbon;
}

.c-checkerboard__icon {

    /* box-model */
    height: 200px;
}
