.c-events-cta {

    /* box-model */
    padding-top: 100%;

    /* visual */
    box-shadow: 0 24px 30px -7px rgba(0, 0, 0, 0.3);

    @screen large {

        /* box-model */
        padding-top: 42.43%;
    }
}