.c-hero {

    /* box-model */
    padding-top: 72px;
    @apply .pb-8;

    @screen xxlarge {

        /* box-model */
        padding-top: 88px;
        @apply .pb-12;
    }
}   

.c-hero--home {

    /* visual */
    @apply .bg-xynomix-red-ribbon;


    /* box-model */
    min-height: 100vh;
    margin-left: -10%;
    margin-right: -10%;
    padding-left: 10%;
    padding-right: 10%;

    /* visual */
    border-radius: 0% 0% 200vh 200vh / 0% 0% 20vh 20vh;

    @screen xxlarge {

        /* box-model */
        height: 960px;
        min-height: 960px;   
    }
}

.c-hero--internal {

    /* visual */
    @apply .bg-xynomix-red-ribbon;


    /* box-model */
    min-height: 100vh;
    margin-left: -10%;
    margin-right: -10%;
    padding-left: 10%;
    padding-right: 10%;

    /* visual */
    border-radius: 0% 0% 200vh 200vh / 0% 0% 20vh 20vh;

    @screen xxlarge {

        /* box-model */
        min-height: 660px;  
        height: 660px; 
    }
}

.c-hero--internal-alt {

    /* box-model */
    min-height: 100vh;

    @screen xxlarge {

        /* box-model */
        min-height: 620px;
        height: 620px;    
    }
}

.c-hero--internal-alt__categories-item {
    
    &:not(:last-of-type) {
        
        /* box-model */
        @apply .mr-3;

        @screen xxlarge {

            /* box-model */
            @apply .mr-4;
        }
    }

    /* visual */
    border-radius: 100px;
    border: 1px solid white;
}

.c-hero__content-inner {

    /* box-model */
    max-width: 750px;
}

.c-hero__social {

    /* positioning */
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translate(-50%) rotate(-90deg);
    transform-origin: top;
}

.c-hero__social-line {

    /* box-model */
    width: 20px;
    height: 1px;
}

.c-hero__social-icon {

    /* transition */
    transition: $defaultAnimation;

    &:hover {

        /* transition */
        opacity: 0.75;
    }
    
    &:not(:last-of-type) {

        /* box-model */
        @apply .mr-3;
    }

}

.c-hero__social-linkedin {
    
    /* box-model */
    width: 17px;
    height: 17px;
}

.c-hero__social-googleplus {
    
    /* box-model */
    width: 25px;
    height: 16px;
}

.c-hero__social-twitter {
    
    /* box-model */
    width: 19px;
    height: 15px;
}

.c-hero__social-facebook {
    
    /* box-model */
    width: 18px;
    height: 16px;
}

.c-hero__content-logo {

    /* box-model */
    width: 217px;

    @screen xxlarge {

        /* box-model */
        width: 384px;
    }
}

.c-hero__slider-copy {

    /* box-model */
    max-width: 620px;
}

.c-hero__slider .flickity-page-dots {

    /* positioning */
    position: relative;
    bottom: 0;

    /* box-model */
    @apply .mt-12;
    @apply .mb-8;

    @screen xxlarge {

        /* box-model */
        @apply .mt-15;
    }
}

.c-hero__slider.is-multiple .flickity-page-dots .dot {

    /* box-model */
    width: 20px;
    height: 20px;
    
    /* visual */
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.6;

    /* transition */
    transition: $defaultAnimation;

    &.is-selected {
        
        /* visual */
        background-color: rgba(255, 255, 255, 1);
    }
}

.c-hero__slider.is-single .flickity-page-dots {
    
    /* box-model */
    display: none;
}

.c-hero__slider {

    /* visual */
    opacity: 0;
    transition: $defaultAnimation;

    &.is-hidden {

        /* visual */
        opacity: 0;
    }

    &.flickity-enabled {

        /* visual */
        opacity: 1;
    }

    .flickity-slider {

        /* positioning */
        transform: none !important;
    }

    .c-hero__slider-item {

        /* positioning */
        left: 0 !important;
        z-index: -1;

        /* visual */
        opacity: 0;

        /* transition */
        transition: $defaultAnimation;
        transition-duration: 0.6s;
        transition-timing-function: linear;

        &.is-selected {

            /* visual */
            opacity: 1;
            pointer-events: auto;

            /* positioning */
            z-index: 0
        }
    }
}


.c-hero__slider__prev {

    /* positioning */
    transform: scaleX(-1);
}