.c-industry-sectors {

    /* box-model */
    width: 110%;
    margin-right: -10%;
    padding-right: 10%;
    @include padding-top(85);
    @include padding-bottom(70);

    /* visual */
    border-radius: 0vh 200vh 0% 0% / 0vh 40vh 0% 0%;
    background: black;

    @screen xxlarge {

        /* box-model */
        @include padding-top(192);
        @include padding-bottom(142);
        min-height: 655px;
    }
}

.c-industry-sectors__slider .flickity-page-dots {

    /* positioning */
    position: relative;
    bottom: 0;

    /* box-model */
    @apply .mt-8;
}

.c-industry-sectors__slider .flickity-page-dots .dot {

    /* box-model */
    width: 20px;
    height: 20px;
    margin: 8px;

    /* visual */
    border-radius: 4px;
    @apply .bg-xynomix-mako;
    opacity: 0.6;

    /* transition */
    transition: $defaultAnimation;

    &.is-selected {
        
        /* visual */
        @apply .bg-xynomix-red-ribbon;
    }
}

.c-industry-sectors__prev-wrapper {
    
    /* box-model */
    display: none;

    @screen xxlarge {

        /* box-model */
        display: flex;
    }
}

.c-industry-sectors__next-wrapper {
    
    /* box-model */
    display: none;

    @screen xxlarge {

        /* box-model */
        display: flex;
    }
}
