.c-main-menu-wrapper {

    /* positioning */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    

    /* visual */
    background-color: white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    /* transition */
    transition: $defaultAnimation;
    transition-property: opacity;

    /* box-model */
    width: 100%;
    height: 100%;
    padding-top: 19vh;

    @screen xxlarge {

        /* visual */
        background-color: transparent;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        /* box-model */
        width: auto;
        height: auto;
        padding-top: 0;
        
        /* positioning */
        position: relative;
        top: auto;
        left: auto;
    }

    &.is-open {

        /* visual */
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        overflow: scroll;
    }
}

.c-main-menu__item {

    &:not(:last-of-type) {
        
        @screen xxlarge {

            /* box-model */
            @apply .mr-4;
        }

        @screen super {

            /* box-model */
            @apply .mr-6;
        }        

        .c-main-menu__text {

            /* transition */
            transition: $defaultAnimation;
            border-bottom: 1px solid transparent;     
        }

        &:hover {

            .c-main-menu__text {

                /* visual */
                border-bottom: 1px solid black;
            }
        }
        
        &.c-main-menu__item--active,
        &.c-main-menu__item--childActive {
    
            .c-main-menu__text {

                /* visual */
                border-bottom: 1px solid black;
            }
        }
    }  
}

.c-main-menu__item--active,
.c-main-menu__item--childActive {

    .c-main-menu__link.btn {

        /* visual */
        @include btn--primary-hover;

        .c-main-menu__text {
            
            /* visual */
            border: none;
        }
    }
}

.c-main-menu__link,
.c-main-menu__dropdown-heading,
.c-main-menu__submenu-link {

    /* typography */
    @apply .font-xynomix-heading .font-medium .text-base .tracking-small .leading-giant;

    &.btn {
        
        /* box-model */
        height: 50px;
        min-width: 150px;

        /* positioning */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.c-main-menu__link:hover {

    @screen xxlarge {

        & + .c-main-menu__dropdown {

            /* visual */
            opacity: 1;
            visibility: visible;

        }
    }
}

.c-main-menu__link-icon {

    /* box-model */
    width: 8px;
    height: 5px;
}

.c-main-menu__dropdown {

    /* box-model */
    width: 1012px;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);

    /* visual */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;

    /* transition */
    transition: $defaultAnimation;

    /* positioning */
    top: 100%;

    &:before {

        /* box-model */
        content: '';
        width: 24px;
        height: 24px;
        display: block;

        /* positioning */
        position: absolute;
        bottom: calc(100% - 14px);
        left: 50%;
        transform: translateX(-50%) rotate(-45deg);

        /* visual */
        @apply .bg-black;
        border-radius: 3px;

    }

    &:hover {

        /* visual */
        opacity: 1;
        visibility: visible;

        .c-main-menu__submenu-item {
                
                /* visual */
                pointer-events: auto;
        }
    }
}

.c-main-menu__dropdown-column {

    /* visual */
    overflow: hidden;

    &:first-of-type {
        
        /* visual */
        border-radius: 15px 0 0 15px;
        border-right: 1px solid;
        border-right-color: config('colors.xynomix-mischka');
    }

    &:last-of-type {
        
        /* visual */
        border-radius: 0 15px 15px 0;
    }
}

.c-main-menu__submenu-icon {
    
    /* box-model */
    width: 100px;
    height: 50px;
}

.c-main-menu__submenu-item {

    /* transition */
    transition: $defaultAnimation;

    /* visual */
    pointer-events: none;

    &:hover {

        /* visual */
        @apply .bg-black;

        .c-main-menu__submenu-link {

            /* visual */
            @apply .text-white;
        }
    }
}

.c-main-menu__submenu-item--active {

    /* visual */
    @apply .bg-xynomix-wild-sand;
}

.c-main-menu__dropdown-slider {

    .flickity-slider {

        /* positioning */
        transform: none !important;
    }
    

    .c-main-menu__dropdown-slider-item {

        /* positioning */
        left: 0 !important;
        z-index: -1;

        /* visual */
        opacity: 0;

        /* transition */
        transition: $defaultAnimation;

        &.is-selected {

            /* visual */
            opacity: 1;

            /* positioning */
            z-index: 0
        }
    }
}
