.c-recent-news-cta__item {

    /* visual */
    border: 1px solid config('colors.xynomix-mischka');
    border-radius: 4px;
    
    /* transition */
    transition: $defaultAnimation;

    &:hover {

        /* visual */
        background-color: black;
        box-shadow: 0 0 2px 0 rgba(#C5C5C5, 0.5), 0 6px 18px -5px rgba(#717171, 0.68);
        border: 1px solid black;

        * {

            /* visual */
            color: white;
        }

        .btn {

            /* btn hover */
            @include btn--arrow-hover;
        }
    }
}

.c-recent-news-cta__featured {

    /* visual */
    border-radius: 4px;
    
    /* transition */
    transition: $defaultAnimation;

    .btn {

        /* visual */
        color: white;

        * {

            /* visual */
            color: white;
        }
    }

    &:hover {

        /* visual */
        box-shadow: 0 0 2px 0 rgba(#C5C5C5, 0.5), 0 6px 18px -5px rgba(#717171, 0.68);

        .btn {

            /* btn hover */
            @include btn--arrow-hover;
        }
    }
}

.c-recent-news-cta__grid-inner {
    
    &:after {
        
        /* enable flickity */
        content: 'flickity';
        display: none;

        @screen large {

            /* disable flickity */
            content: '';
        }
    }

    .flickity-viewport {
        
        /* visual */
        overflow: visible;
    }

    .flickity-slider {
        
        /* poisitioning */
        display: flex;
    }    
}