.c-services__intro {

    /* box-model */
    max-width: 800px;
}

.c-services__icon {

    /* box-model */
    width: 50px;
    height: 50px;
}

.c-services__grid-item {

    /* visual */
    border: 1px solid config('colors.xynomix-mischka');
    border-radius: 4px;
    
    /* transition */
    transition: $defaultAnimation;

    .btn {

        /* positioning */
        transform: translateX(8.5px);
    }

    &:hover {

        /* visual */
        background-color: black;
        box-shadow: 0 0 2px 0 rgba(#C5C5C5, 0.5), 0 6px 18px -5px rgba(#717171, 0.68);
        border: 1px solid black;

        * {

            /* visual */
            color: white;
        }

        .btn {

            /* btn hover */
            @include btn--arrow-hover;
        }
    }
}