.c-testimonials__image {

    /* visual */
    box-shadow: 0 22px 34px -7px rgba(#A2A1A1, 0.5);
}

.c-testimonials__logo {
    
    /* box-model */
    max-width: 210px!important;
    width: 100%;

}

.c-testimonials__prev {

    /*  positioning */
    transform: scaleX(-1);
}

.c-testimonials__slider--logos {

    .flickity-viewport {

        /* visual */
        overflow: visible;
    }
}

.c-testimonials__slider-icon {
    
    /* box-model */
    width: 40px;
    height: 40px;

    /* visual */
    @apply .bg-black;

    /* positioning */
    transform: translateY(50%) rotate(-45deg);
}

.c-testimonials-slider--images {

    .flickity-viewport {

        /* visual */
        overflow: visible;
    }
}

.c-testimonials__slider {

    .flickity-slider {

        /* positioning */
        transform: none !important;
    }

    .c-testimonials__slider-item {

        /* positioning */
        left: 0 !important;
        z-index: -1;

        /* visual */
        opacity: 0;

        /* transition */
        transition: $defaultAnimation;

        &.is-selected {

            /* visual */
            opacity: 1;

            /* positioning */
            z-index: 0
        }
    }
}

.c-testimonials-slider--images {

    .flickity-slider {

        /* positioning */
        transform: none !important;
    }
    .c-testimonials__image {

        /* positioning */
        left: 0 !important;
        z-index: -1;

        /* visual */
        opacity: 0;

        /* transition */
        transition: $defaultAnimation;

        &.is-selected {

            /* visual */
            opacity: 1;

            /* positioning */
            z-index: 0
        }
    }
}