.c-events-filter__icon {

    /* box-model */
    width: 8px;
    height: 5px;
}

.c-events-filter__heading,
.c-events-filter__item .btn {
    
    /* typography */
    @apply .font-xynomix-heading .font-medium .text-base .tracking-small .leading-giant;
}

.c-events-filter__btn.active .c-events-filter__icon {
    transform: rotate(180deg);
}

.c-events-filter__item .btn { 

    /* typography */
    font-weight: 400;

    * {

        /* visual */
        color: white;
    }
}

.c-events-filter__dropdown {

    /* transition */
    transition: $defaultAnimation;

    /* box-model */
    max-height: 0;
}