
.bck-color\(transparent\) { background-color: transparent; }

@each $colorKey, $colorValue in $colors {
    .bck-color\(#{$colorKey}\) {
        background-color: #{$colorValue};
    }
}
//<div class="c-form__input bck-color(mustard)"></div>
//<!-- for success -->
//<div class="c-form__input font-color(red)"></div>
//<!-- for error -->
