
.color\(transparent\) { color: transparent; }
@each $colorKey, $colorValue in $colors {
    .color\(#{$colorKey}\) {
        color: #{$colorValue};
    }
}
//<div class="c-form__input color(mustard)"></div>
//<!-- for success -->
//<div class="c-form__input color(red)"></div>
//<!-- for error -->
