.xynomix-heading {
  @apply .font-xynomix-heading .text-super .leading-large .tracking-xsmall .font-medium;

  @screen xxlarge {
    @apply .text-massive .leading-medium .tracking-tiny;
  }
}

.xynomix-heading-s {
  @apply .font-xynomix-heading .text-xxlarge .leading-large .tracking-small .font-normal;

  @screen xxlarge {
    @apply .text-giant .tracking-xxsmall;
  }
}

.xynomix-copy-l {
  @apply .font-xynomix-heading .text-medium .leading-xxlarge .tracking-base;

  @screen xxlarge {
    @apply .text-xlarge .leading-xlarge;
  }
}

.xynomix-copy-m {
  @apply .font-xynomix-heading .text-base .leading-xxlarge .tracking-base .font-normal;

  @screen xxlarge {
    @apply .text-medium-l;
  }
}

@mixin xynomix-copy-m {
  @apply .font-xynomix-heading .text-base .leading-xxlarge .tracking-base .font-normal;

  @screen xxlarge {
    @apply .text-medium-l;
  }
}

@mixin xynomix-copy {
  @apply .font-xynomix-copy .text-base .leading-giant .tracking-base .font-normal;

  @screen xxlarge {
    @apply .font-medium .leading-super;
  }
}

.xynomix-copy {
  @apply .font-xynomix-copy .text-base .leading-giant .tracking-base .font-normal;

  @screen xxlarge {
    @apply .font-medium .leading-super;
  }
}

.xynomix-copy-s {
  @apply .font-xynomix-copy .text-base .leading-giant .tracking-base;
}

.xynomix-copy-xs {
  @apply .font-xynomix-copy .text-small .leading-giant .tracking-base;
}

@mixin xynomix-copy-xs {
  @apply .font-xynomix-copy .text-small .leading-giant .tracking-base;
}

.xynomix-content {
  p {
    color: currentColor;
    @include xynomix-copy;
    @apply .mb-7;
    text-align: inherit;
  }

  li {
    color: currentColor;
    @include xynomix-copy;
    @apply .mb-2;
    text-align: inherit;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    @apply .text-xynomix-jaffa;
    text-decoration: underline;

    &:hover {
      @apply .text-xynomix-red-ribbon;
    }
  }
}

.xynomix-content-m {
  p {
    color: currentColor;
    @include xynomix-copy-m;
    @apply .mb-7;
    text-align: inherit;
  }

  li {
    color: currentColor;
    @include xynomix-copy-m;
    @apply .mb-2;
    text-align: inherit;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    @apply .text-xynomix-jaffa;
    text-decoration: underline;

    &:hover {
      @apply .text-xynomix-red-ribbon;
    }
  }
}
