/*
   WIDTHS
   Docs: http://tachyons.io/docs/layout/widths/
   Base:
     w = width
   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     -10  = literal value 10%
     -20  = literal value 20%
     -25  = literal value 25%
     -30  = literal value 30%
     -33  = literal value 33%
     -34  = literal value 34%
     -40  = literal value 40%
     -50  = literal value 50%
     -60  = literal value 60%
     -70  = literal value 70%
     -75  = literal value 75%
     -80  = literal value 80%
     -90  = literal value 90%
     -100 = literal value 100%
     -third      = 100% / 3 (Not supported in opera mini or IE8)
     -two-thirds = 100% / 1.5 (Not supported in opera mini or IE8)
     -auto       = string value auto
   Media Query Extensions:
     -s = not-small
     -m  = medium
     -l  = large
*/

/* Width Scale */

.w1 {    width: 1rem; }
.w2 {    width: 2rem; }
.w3 {    width: 4rem; }
.w4 {    width: 8rem; }
.w5 {    width: 16rem; }

.w-10 {  width:  10%; }
.w-20 {  width:  20%; }
.w-25 {  width:  25%; }
.w-30 {  width:  30%; }
.w-33 {  width:  33%; }
.w-34 {  width:  34%; }
.w-40 {  width:  40%; }
.w-50 {  width:  50%; }
.w-60 {  width:  60%; }
.w-70 {  width:  70%; }
.w-75 {  width:  75%; }
.w-80 {  width:  80%; }
.w-90 {  width:  90%; }
.w-100 { width: 100%; }

.w-third { width: calc(100% / 3); }
.w-two-thirds { width: calc(100% / 1.5); }
.w-auto { width: auto; }

@include breakpoint(small) {
  .w1-s {  width: 1rem; }
  .w2-s {  width: 2rem; }
  .w3-s {  width: 4rem; }
  .w4-s {  width: 8rem; }
  .w5-s {  width: 16rem; }
  .w-10-s { width:  10%; }
  .w-20-s { width:  20%; }
  .w-25-s { width:  25%; }
  .w-30-s { width:  30%; }
  .w-33-s { width:  33%; }
  .w-34-s { width:  34%; }
  .w-40-s { width:  40%; }
  .w-50-s { width:  50%; }
  .w-60-s { width:  60%; }
  .w-70-s { width:  70%; }
  .w-75-s { width:  75%; }
  .w-80-s { width:  80%; }
  .w-90-s { width:  90%; }
  .w-100-s { width: 100%; }
  .w-third-s { width: calc(100% / 3); }
  .w-two-thirds-s { width: calc(100% / 1.5); }
  .w-auto-s { width: auto; }
}

@include breakpoint(medium) {
  .w1-m {      width: 1rem; }
  .w2-m {      width: 2rem; }
  .w3-m {      width: 4rem; }
  .w4-m {      width: 8rem; }
  .w5-m {      width: 16rem; }
  .w-10-m { width:  10%; }
  .w-20-m { width:  20%; }
  .w-25-m { width:  25%; }
  .w-30-m { width:  30%; }
  .w-33-m { width:  33%; }
  .w-34-m { width:  34%; }
  .w-40-m { width:  40%; }
  .w-50-m { width:  50%; }
  .w-60-m { width:  60%; }
  .w-70-m { width:  70%; }
  .w-75-m { width:  75%; }
  .w-80-m { width:  80%; }
  .w-90-m { width:  90%; }
  .w-100-m { width: 100%; }
  .w-third-m { width: calc(100% / 3); }
  .w-two-thirds-m { width: calc(100% / 1.5); }
  .w-auto-m {    width: auto; }
}

@include breakpoint(large) {
  .w1-l {      width: 1rem; }
  .w2-l {      width: 2rem; }
  .w3-l {      width: 4rem; }
  .w4-l {      width: 8rem; }
  .w5-l {      width: 16rem; }
  .w-10-l {    width:  10%; }
  .w-20-l {    width:  20%; }
  .w-25-l {    width:  25%; }
  .w-30-l {    width:  30%; }
  .w-33-l {    width:  33%; }
  .w-34-l {    width:  34%; }
  .w-40-l {    width:  40%; }
  .w-50-l {    width:  50%; }
  .w-60-l {    width:  60%; }
  .w-70-l {    width:  70%; }
  .w-75-l {    width:  75%; }
  .w-80-l {    width:  80%; }
  .w-90-l {    width:  90%; }
  .w-100-l {   width: 100%; }
  .w-third-l { width: calc(100% / 3); }
  .w-two-thirds-l { width: calc(100% / 1.5); }
  .w-auto-l {    width: auto; }
}

@include breakpoint(xlarge) {
  .w1-xl {      width: 1rem; }
  .w2-xl {      width: 2rem; }
  .w3-xl {      width: 4rem; }
  .w4-xl {      width: 8rem; }
  .w5-xl {      width: 16rem; }
  .w-10-xl {    width:  10%; }
  .w-20-xl {    width:  20%; }
  .w-25-xl {    width:  25%; }
  .w-30-xl {    width:  30%; }
  .w-33-xl {    width:  33%; }
  .w-34-xl {    width:  34%; }
  .w-40-xl {    width:  40%; }
  .w-50-xl {    width:  50%; }
  .w-60-xl {    width:  60%; }
  .w-70-xl {    width:  70%; }
  .w-75-xl {    width:  75%; }
  .w-80-xl {    width:  80%; }
  .w-90-xl {    width:  90%; }
  .w-100-xl {   width: 100%; }
  .w-third-xl { width: calc(100% / 3); }
  .w-two-thirds-xl { width: calc(100% / 1.5); }
  .w-auto-xl {    width: auto; }
}

@include breakpoint(xxlarge) {
  .w1-xxl {      width: 1rem; }
  .w2-xxl {      width: 2rem; }
  .w3-xxl {      width: 4rem; }
  .w4-xxl {      width: 8rem; }
  .w5-xxl {      width: 16rem; }
  .w-10-xxl {    width:  10%; }
  .w-20-xxl {    width:  20%; }
  .w-25-xxl {    width:  25%; }
  .w-30-xxl {    width:  30%; }
  .w-33-xxl {    width:  33%; }
  .w-34-xxl {    width:  34%; }
  .w-40-xxl {    width:  40%; }
  .w-50-xxl {    width:  50%; }
  .w-60-xxl {    width:  60%; }
  .w-70-xxl {    width:  70%; }
  .w-75-xxl {    width:  75%; }
  .w-80-xxl {    width:  80%; }
  .w-90-xxl {    width:  90%; }
  .w-100-xxl {   width: 100%; }
  .w-third-xxl { width: calc(100% / 3); }
  .w-two-thirds-xxl { width: calc(100% / 1.5); }
  .w-auto-xxl {    width: auto; }
}

@include breakpoint(super) {
  .w1-super {      width: 1rem; }
  .w2-super {      width: 2rem; }
  .w3-super {      width: 4rem; }
  .w4-super {      width: 8rem; }
  .w5-super {      width: 16rem; }
  .w-10-super {    width:  10%; }
  .w-20-super {    width:  20%; }
  .w-25-super {    width:  25%; }
  .w-30-super {    width:  30%; }
  .w-33-super {    width:  33%; }
  .w-34-super {    width:  34%; }
  .w-40-super {    width:  40%; }
  .w-50-super {    width:  50%; }
  .w-60-super {    width:  60%; }
  .w-70-super {    width:  70%; }
  .w-75-super {    width:  75%; }
  .w-80-super {    width:  80%; }
  .w-90-super {    width:  90%; }
  .w-100-super {   width: 100%; }
  .w-third-super { width: calc(100% / 3); }
  .w-two-thirds-super { width: calc(100% / 1.5); }
  .w-auto-super {    width: auto; }
}

@include breakpoint(giant) {
  .w1-g {      width: 1rem; }
  .w2-g {      width: 2rem; }
  .w3-g {      width: 4rem; }
  .w4-g {      width: 8rem; }
  .w5-g {      width: 16rem; }
  .w-10-g {    width:  10%; }
  .w-20-g {    width:  20%; }
  .w-25-g {    width:  25%; }
  .w-30-g {    width:  30%; }
  .w-33-g {    width:  33%; }
  .w-34-g {    width:  34%; }
  .w-40-g {    width:  40%; }
  .w-50-g {    width:  50%; }
  .w-60-g {    width:  60%; }
  .w-70-g {    width:  70%; }
  .w-75-g {    width:  75%; }
  .w-80-g {    width:  80%; }
  .w-90-g {    width:  90%; }
  .w-100-g {   width: 100%; }
  .w-third-g { width: calc(100% / 3); }
  .w-two-thirds-g { width: calc(100% / 1.5); }
  .w-auto-g {    width: auto; }
}
