.l-footer__award__img {
  height: 45px;
}

.l-footer__contact__tel {
  width: 100px;
}

.l-footer__contact__email {
  width: 130px;
}

.l-footer__award {
  width: 100%;
  margin-bottom: 30px;
}
.l-footer__award:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .l-footer__award {
    width: auto;
    margin-right: 70px;
    margin-bottom: 0;
  }
}
.l-footer__award__img {
  height: 45px;
}

.cta-contact-image {
  width: 140px;
  margin: 0 auto 10px auto;
}

.cta-contat-image--email {
  width: 170px;
}

@media (min-width: 768px) {
  .cta-contact-image {
    margin: 0 0 10px 0;
  }
}

.c-landing-slider .flickity-page-dots {
  position: relative;
  bottom: 0;
  margin-top: 1.25rem;
}
@media (min-width: 960px) {
  .c-landing-slider .flickity-page-dots {
    margin-top: 1.875rem;
  }
}
.c-landing-slider .flickity-page-dots .dot {
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 4px;
  background-color: #444852;
  opacity: 0.6;
  -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.c-landing-slider .flickity-page-dots .dot.is-selected {
  background-color: #e8003f;
}
.c-landing-slider .flickity-viewport {
  -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (min-width: 1200px) {
  .c-landing-slider__prev {
    position: absolute;
    top: calc(50% - 49px);
    -webkit-transform: translateY(-50%) scaleX(-1);
    transform: translateY(-50%) scaleX(-1);
    left: 0;
  }
}
@media (min-width: 1200px) {
  .c-landing-slider__next {
    position: absolute;
    top: calc(50% - 49px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
  }
}
.c-landing-slider .flickity-viewport {
  overflow: visible;
}
@media (min-width: 1200px) {
  .c-landing-slider .flickity-viewport {
    overflow: hidden;
  }
}
