// 1. Natco Colour palette
$colors: (
  black: #000000,
  white: #ffffff,
  grey: #f3f3f3,
  grey-2: #e5e5e5,
  grey-3: #f2f2f2,
  grey-4: #808080,
  dark-grey: #4f4f4f,
  blue-grey: #dce3e5,
  blue: #0634da,
  red: #e70007,
  green-1: #55c6b4,
  green-2: #007078
);

// 2. Spacings
// --------------
$spacings: (
  small: 20,
  medium: 20,
  large: 20,
  xlarge: 40,
  xxlarge: 40,
  super: 40,
  giant: 40
);

// 3. Breakpoints
// --------------
$breakpoints: (
  small: 0,
  medium: 480px,
  large: 768px,
  xlarge: 960px,
  xxlarge: 1200px,
  super: 1600px,
  giant: 1800px
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge super giant);

// 4. The Grid
// -----------
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 40px,
  medium: 40px,
  xlarge: 40px,
  xxlarge: 40px
);
$grid-column-align-edge: true;
$block-grid-max: 8;

// 5. fonts
// -----------
$fonts: (
  prime: "proxima-soft",
  heading: "proxima-soft",
  titles: "proxima-soft",
  copy: "proxima-soft",
  cta: "rift",
  btn: "rift"
);
$pxPc: "px";

$base-font-size: 100;
$base-font-size-percent: 100%;

$base-font-size-px-calc: floor((16 / 100) * $base-font-size);
$base-font-size-px: $base-font-size-px-calc + px;

// $line-height-copy : 1.5;
$line-height-copy: 1.2;
$line-height-heading: 1.2;

//$font-spacing-primary : 120;
$font-spacing-primary: 30;
$font-spacing-secondary: 96;
$font-spacing-tertiary: 30;
// $font-spacing-heading : 160;
$font-spacing-heading: 30;
$font-spacing-copy: 30;

$font-weight-bold: 600;

$table-cell-padding: 8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding: 5px !default;

// 6. TRANSITIONS
// -----------
$transitions: (
  out-sine: cubic-bezier(0.39, 0.58, 0.57, 1),
  out-quadratic: cubic-bezier(0.25, 0.46, 0.45, 0.96),
  out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1),
  linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1),
  in-sine: cubic-bezier(0.47, 0, 0.75, 0.72),
  in-quadratic: cubic-bezier(0.55, 0.09, 0.68, 0.53),
  in-cubic: cubic-bezier(0.55, 0.06, 0.68, 0.19),
  fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1),
  in-out-sine: cubic-bezier(0.45, 0.05, 0.55, 0.95),
  in-out-quadratic: cubic-bezier(0.46, 0.03, 0.52, 0.96),
  in-out-cubic: cubic-bezier(0.65, 0.05, 0.36, 1),
  fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1),
  linear: linear,
  ease: ease,
  ease-out: ease-out
);

$speed-1: 100ms;
$speed-2: 200ms;
$speed-3: 300ms;
$speed-4: 400ms;
$speed-5: 500ms;
$speed-6: 600ms;
$speed-7: 700ms;
$speed-8: 800ms;
$speed-9: 900ms;
$speed-10: 1000ms;
