@import "node_modules/foundation-sites/scss/foundation";
@import "variables";

@tailwind preflight;
@tailwind screens;

/* ================
   breakpoint helper
   ================ */
body:before {
  content: "base--0";
  display: block;
  padding: 10px;
  background-color: lightgray;
  font-weight: bold;
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  @screen small {
    background-color: blue;
    content: "small--1";
  }

  @screen medium {
    background-color: darkgoldenrod;
    content: "medium--2";
  }

  @screen large {
    background-color: green;
    content: "large--3";
  }

  @screen xlarge {
    background-color: darkred;
    content: "xlarge--4";
  }

  @screen xxlarge {
    background-color: grey;
    content: "xxlarge--5";
  }

  @screen super {
    background-color: white;
    color: black;
    content: "super--6";
  }

  @screen giant {
    background-color: black;
    color: white;
    content: "giant--7";
  }
}

body.show-brkpt:before {
  display: block;
}

@tailwind utilities;
@include foundation-grid;
@import "layout/l-column";

// functions ////////////////
@import "functions/spacing";
@import "functions/color";
@import "functions/px2rem";
@import "functions/getBreakpoint";
@import "functions/letterSpacing";
// mixins ////////////////
@import "mixins/font-size";
@import "mixins/font-family";
@import "mixins/margin";
@import "mixins/padding";
@import "mixins/border-arrow";
@import "mixins/clearer";
@import "mixins/keyframes";
@import "mixins/abs-pos";

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

$defaultAnimation: 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

@import "general/font-familys";
@import "general/base-css";
@import "general/pre-code";
@import "general/forms";
@import "general/tables";
@import "general/blockquote";

/* ================
    helpers
   ================ */
@import "helpers/bck-color";
@import "helpers/borders";
@import "helpers/border-styles";
@import "helpers/border-color";
@import "helpers/border-widths";
@import "helpers/border-radii";
@import "helpers/color";
@import "helpers/clear";
@import "helpers/floats";
@import "helpers/hover-animations";
@import "helpers/measure";
@import "helpers/typeFaces";
@import "helpers/typeStyles";
@import "helpers/underLine";
@import "helpers/Framework";
@import "helpers/widths";
@import "components/sitewide/btn";

/* ================
    animations
   ================ */
@import "animations/animations";

/* ================
    layout
   ================ */

/* site wide */
@import "layout/l-header";
@import "layout/l-footer";
@import "layout/l-container";
@import "layout/l-preloader";

/* ================
    components
   ================ */

/* site wide */
@import "components/sitewide/c-hero";
@import "components/sitewide/c-icon";
@import "components/sitewide/c-main-menu";
@import "components/sitewide/c-services";
@import "components/sitewide/c-case-studies-cta";
@import "components/sitewide/c-testimonials";
@import "components/sitewide/c-contact-cta";
@import "components/sitewide/c-industry-sectors";
@import "components/sitewide/c-checkerboard";
@import "components/sitewide/c-events-cta";
@import "components/sitewide/c-recent-news-cta";

/* home */
@import "components/home/c-home-buckets";
@import "components/home/c-home-clients";

/* about */
@import "components/about/c-about-intro";
@import "components/about/c-about-split";
@import "components/about/c-about-team";
@import "components/about/c-about-careers";
@import "components/about/c-about-social-responsibility";

/* internal layout */
@import "components/internal-layout/c-internal-layout-list-with-image";
@import "components/internal-layout/c-internal-layout-feature-text";
@import "components/internal-layout/c-internal-layout-contained-image";
@import "components/internal-layout/c-internal-layout-full-image";
@import "components/internal-layout/c-internal-layout-split-images";
@import "components/internal-layout/c-internal-layout-cta";

/* contact */
@import "components/contact/c-contact-buckets";
@import "components/contact/c-contact-map";

/* public sector */
@import "components/public-sector/c-public-sector-intro";
@import "components/public-sector/c-public-sector-feature-text";
@import "components/public-sector/c-public-sector-services";
@import "components/public-sector/c-public-sector-accreditations";

/* jobs */
@import "components/jobs/c-jobs-list-split";
@import "components/jobs/c-jobs-form";

/* resources */
@import "components/resources/c-resources-grid";
@import "components/resources/c-resources-faqs";

/* events */
@import "components/events/c-events-filter";

/* event */
@import "components/event/form";

/* resources */
@import "components/news/c-news-pagination";

/* landing */
@import "components/landing/c-landing-slider";

@import "copy-to-site";

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}