@mixin padding-direction($size, $direction: bottom, $fontSize: $base-font-size) {
  @if $size != 0 {
    padding-#{$direction}: $size + px;
    padding-#{$direction}: px2rem($size, $fontSize);
  } @else {
    padding-#{$direction}: 0;
  }
}
@mixin padding-top($size, $fontSize: $base-font-size) {
  @include padding-direction($size, top, $fontSize);
}
@mixin padding-right($size, $fontSize: $base-font-size) {
  @include padding-direction($size, right, $fontSize);
}
@mixin padding-bottom($size, $fontSize: $base-font-size) {
  @include padding-direction($size, bottom, $fontSize);
}
@mixin padding-left($size, $fontSize: $base-font-size) {
  @include padding-direction($size, left, $fontSize);
}

@mixin padding($arg...) {
  @if length($arg) < 1 {
    padding: auto;
  }

  @if length($arg) == 1 {
    padding: nth($arg, 1) + px;
    padding: px2rem(nth($arg, 1));
  }

  @if length($arg) == 2 {
    padding: nth($arg, 1) + px nth($arg, 2) + px;
    padding: px2rem(nth($arg, 1)) px2rem(nth($arg, 2));
  }

  @if length($arg) == 3 {
    padding: nth($arg, 1) + px nth($arg, 2) + px nth($arg, 3) + px;
    padding: px2rem(nth($arg, 1)) px2rem(nth($arg, 2)) px2rem(nth($arg, 3));
  }

  @if length($arg) >= 4 {
    padding: nth($arg, 1) + px nth($arg, 2) + px nth($arg, 3) + px nth($arg, 4) + px;
    padding: px2rem(nth($arg, 1)) px2rem(nth($arg, 2)) px2rem(nth($arg, 3)) px2rem(nth($arg, 4));
  }
}
