// Animations variables
$distance: 25px;

/****************
	FADES
*****************/
[data-animate^='fade'] {
  opacity: 0;
  transition: $defaultAnimation;
  transition-property: opacity, transform;
  transition-duration: 0.75s;

  &.animate {
    opacity: 1;
    transform: translate(0, 0);
  }
}

[data-animate='fade-up'] {
  transform: translateY($distance);
}

[data-animate='fade-in'] {
}