.c-about-team {

    /* box-model */
    width: 110%;
    margin-left: -10%;
    padding-left: 10%;
    @include padding-top(60);
    @include padding-bottom(0);

    /* visual */
    border-radius: 200vh 0vh 0% 0% / 40vh 0vh 0% 0%;
    background: linear-gradient(180deg, #F9F3F3 0%, white 100%);

    @screen xxlarge {

        /* box-model */
        @include padding-top(185);
        @include padding-bottom(0);
    } 
}

.c-about-team__intro {

    /* box-model */
    max-width: 650px;
}

.c-about-team__item {
    
    /* box-model */
    padding-top: 133.33%;

    /* transition */
    transition: $defaultAnimation;

    &.is-open {

        /* visual */
        box-shadow: 0 22px 34px -7px rgba(#A2A1A1, 0.5);

        .c-about-team__bio {

            /* visual */
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        } 
    }
}

.c-about-team__item .btn--bio {

    /* positioning */
    position: absolute;
}

.c-about-team__bio {

    /* transition */
    transition: $defaultAnimation;

    /* visual */
    background: linear-gradient(140deg, config('colors.xynomix-red-ribbon') 0%, config('colors.xynomix-jaffa') 100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.c-about-team__grid {
    
    .flickity-viewport {
        
        /* visual */
        overflow: visible;
    }

    &:after {

        /* disable Flickity */
        content: 'flickity';
        display: none;
    }

    @screen xxlarge {
        
        &:after {

            /* disable Flickity */
            content: '';
        }
    }
}

.c-about-team__grid .flickity-page-dots {

    /* positioning */
    position: relative;
    bottom: 0;
}

.c-about-team__grid .flickity-page-dots .dot {

    /* box-model */
    width: 20px;
    height: 20px;
    margin: 8px;
    
    /* visual */
    border-radius: 4px;
    @apply .bg-xynomix-mako;
    opacity: 0.6;

    /* transition */
    transition: $defaultAnimation;

    &.is-selected {
        
        /* visual */
        @apply .bg-xynomix-red-ribbon;
    }
}