.c-resources-faqs__intro {
    
    /* box-model */
    max-width: 700px;
}

.c-resources-faqs__item {

    /* visual */
    border-bottom: 1px solid config('colors.xynomix-french-gray');
    
    &:first-of-type {
      
        /* visual */
        border-top: 1px solid config('colors.xynomix-french-gray');
    }
}

.c-resources-faqs__overview {
    
    /* box-model */
    max-height: 0;

    /* transition */
    transition: $defaultAnimation;
}

.c-resources-faqs__overview-content {

    /* box-model */
    max-width: 785px;
}

.c-resources-faqs__title-bar {

    /* visual */
    cursor: pointer;
}