.c-resources-grid__slide-item {

    /* visual */
    border: 1px solid config('colors.xynomix-mischka');
    border-radius: 4px;
    
    /* transition */
    transition: $defaultAnimation;

    &:hover {

        /* visual */
        background-color: black;
        box-shadow: 0 0 2px 0 rgba(#C5C5C5, 0.5), 0 6px 18px -5px rgba(#717171, 0.68);
        border: 1px solid black;

        * {

            /* visual */
            color: white;
        }

        .btn {

            /* btn hover */
            @include btn--arrow-hover;
        }
    }
}

.c-resources-grid__slider {

    /* visual */
    opacity: 0;
    transition: $defaultAnimation;

    &.is-hidden {

        /* visual */
        opacity: 0;
    }

    &.flickity-enabled {

        /* visual */
        opacity: 1;
    }    

    .flickity-viewport {

        /* positioning */
        overflow: visible;
        transition: $defaultAnimation;

        @screen xxlarge {

            /* positioning */
            overflow: hidden;
        }
    }

    // .flickity-slider {

    //     /* positioning */
    //     transform: none !important;
    // }

    // .c-resources-grid__slide {

    //     /* positioning */
    //     left: 0 !important;
    //     z-index: -1;

    //     /* visual */
    //     opacity: 0;

    //     /* transition */
    //     transition: $defaultAnimation;
    //     transition-duration: 0.3s;
    //     transition-timing-function: linear;

    //     &.is-selected {

    //         /* visual */
    //         opacity: 1;

    //         /* positioning */
    //         z-index: 0
    //     }
    // }
}
