@responsive {
    .column {

        /* box-model */
        padding-left: 13px;
        padding-right: 13px;
    }
}

.column {

    /* box-model */
    padding-left: 13px;
    padding-right: 13px;
}

.row-inner {

    /* box-model */
    margin-left: -13px;
    margin-right: -13px;
}

@responsive {
    .row-inner {

        /* box-model */
        margin-left: -13px;
        margin-right: -13px;
    }
}