$outerGutter: 2.1875rem; // 35px
$width: 73.375rem; // 1174px
$width-l: 88.375rem; // 1414px

@responsive {
	.l-container {

		/* box-model */
		@apply mx-auto;
		width: 100%;
		padding-left: $outerGutter;
    padding-right: $outerGutter;
    max-width: calc(#{$width} + (#{$outerGutter} * 2));

	}
}

.l-container {

	/* box-model */
	@apply mx-auto;
	@apply .px-7;
  width: 100%;
  max-width: calc(#{$width} + (#{$outerGutter} * 2));

	@screen xxlarge {

		/* box-model */
		padding-left: $outerGutter;
    	padding-right: $outerGutter;
	}
}

@responsive {
	.l-container-l {

		/* box-model */
		@apply mx-auto;
		@apply .px-7;
		width: 100%;
		max-width: calc(#{$width-l} + (#{$outerGutter} * 2));

		@screen xxlarge {

			/* box-model */
			padding-left: $outerGutter;
			padding-right: $outerGutter;
		}
	}
}
