.l-footer__logo {
    
    /* box-model */
    width: 175px;
}

.l-footer__social-icon {

    /* transition */
    transition: $defaultAnimation;
    
    &:not(:last-of-type) {

        /* box-model */
        @apply .mr-3;
    }

    &:hover {

        /* visual */
        opacity: .75;
    }

}

.l-footer__links__link,
.l-footer__sitemap__link,
.l-footer__link, {

    /* transition */
    transition: $defaultAnimation;
    border-bottom: 1px solid transparent;

    &:hover {

        /* visual */
        border-bottom: 1px solid white;
    }
}

.l-footer__sitemap__item--active .l-footer__sitemap__link,
.l-footer__sitemap__item--childActive .l-footer__sitemap__link,
.l-footer__links__item--active .l-footer__links__link,
.l-footer__links__item--childActive .l-footer__links__link  {

        /* visual */
        border-bottom: 1px solid white;
}

.l-footer__social-linkedin {
    
    /* box-model */
    width: 17px;
    height: 17px;
}

.l-footer__social-googleplus {
    
    /* box-model */
    width: 25px;
    height: 16px;
}

.l-footer__social-twitter {
    
    /* box-model */
    width: 19px;
    height: 15px;
}

.l-footer__social-facebook {
    
    /* box-model */
    width: 18px;
    height: 16px;
}

.l-footer__form {

    form {

        /* positioning */
        display: flex;
        flex-wrap: wrap;
    }

    input[type="email"] {
        
        /* visual */
        border: none;
        background-color: white;
        text-transform: none;
        color: black;
        border-radius: 100px 0 0px 100px;
        @apply .py-2 .px-4;
        padding-right: calc(20px + 72px);

        /* box-model */
        height: auto;
        width: calc(100% - 73px);

        /* typography */
        @include xynomix-copy-m;
        @include font-size(18);

         @include placeholder {

            /* typography */
            @include xynomix-copy-m;
            @include font-size(18);

            /* visual */
            opacity: 1;
        }
    }

    input[type="submit"] {

        /* visual */
        border: none;
        @apply .bg-xynomix-mako;
        text-transform: none;
        color: white;
        border-radius: 100px;
        @apply .py-2 .px-4;
        cursor: pointer;
        appearance: none;
        opacity: 1;

        /* positioning */
        text-align: center;

        /* box-model */
        height: auto;
        width: 100%;
        width: 145px;
        margin-left: -72px;

        /* typography */
        @include xynomix-copy-m;

         @include placeholder {

            /* typography */
            @include xynomix-copy-m;

            /* visual */
            opacity: 1;
        }
    }
}

.l-footer__form div.wpcf7-validation-errors,
.l-footer__form div.wpcf7-mail-sent-ok,
.l-footer__form div.wpcf7-mail-sent-ng, 
.l-footer__form div.wpcf7-aborted, {

	/* visual */
	border: none;
	width: 100%;
	color: white;

	/* box-model */
	padding: 0;
	margin: 0;
	margin-top: 10px;

	/* typography */
	@include xynomix-copy-m;
}

// div.wpcf7 .l-footer__form .ajax-loader,
// div.wpcf7 .c-newsletter__form .ajax-loader {

// 	/* visual */
// 	background-image: url('../img/loaders/loxley-white-loader.gif');
// 	background-size: contain;
// 	background-repeat: no-repeat;

// 	/* box-model */
// 	width: 100%;
// 	height: 30px;
// 	margin: 10px 0px;
// 	margin-left: auto;

// 	display: none;

// 	&.is-active {
// 		display: block;
// 	}
// }

.l-footer__form .wtcf7-not-valid-tip {

	/* box-model */
	margin: 0;
	margin-top: -5px;
	margin-bottom: 10px;
}

.l-footer__form .wtcf7-not-valid-tip {

	/* box-model */
	margin-top: 0px;
}

.l-footer__form .wpcf7-acceptance {

    /* box-model */
    @apply .mt-2;

    * {
        /*  visual */
        @apply .text-white;

        /* box-model */
        padding: 0;
        margin: 0;

        /* typography */
        @include xynomix-copy;
        font-weight: 400;

        @screen xxlarge {

            /* typography */
            @include xynomix-copy;
            font-weight: 400;
        }
    }

    label {

        /* positioning */
        display: flex;
        align-items: baseline;

        .wpcf7-list-item-label {
            
            /* typography */
            @include xynomix-copy-xs;
            font-weight: 400;
        }
    }

    input[type="checkbox"] {

        /* box-model */
        width: auto;
        height: auto;
        margin-top: 0;
        margin-right: 10px;
    }
}

.l-footer__award {
    width: 100%;
    margin-bottom: 30px;

    &:last-of-type {
        margin-bottom: 0;
    }

    @screen large {
        width: auto;
        margin-right: 70px;
        margin-bottom: 0;
    }
}
.l-footer__award__img {
    height: 45px;
}

.l-footer__contact__tel {
    width: 100px;
}

.l-footer__contact__email {
    width: 130px;
}