.l-header {

	/* transition */
	transition: $defaultAnimation;
	z-index: 60;
	transform: none;
}

.l-header__main {

	/* box-model */
	height: 55px;

	@screen xxlarge {

		/* box-model */
		height: auto;
	}
}

.l-header.headroom--unpinned {

	/* positioning */
	transform: translateY(-100%);
}

body.overflow-hidden .l-header {

	/* positioning */
 	transform: none;
}

.l-header__logo {
	
	/* box-model */
    max-width: 160px;	

	@screen xxlarge {

		/* box-model */
    	max-width: 280px;
	}

	/* positioning */
	position: relative;
	z-index: 60;

	/* transition */
	transition: $defaultAnimation;

}

.l-header__logo--colour {
	
	/* visual */
	opacity: 1;

	/* transition */	
	transition: $defaultAnimation;		
	
	.home & {
		
		/* box-model */
		display: none;

		@screen xxlarge {

			/* box-model */
			display: inline-block;
		}
	}
}

.l-header__logo--mono {
	
	/* visual */
	//opacity: 0;

	/* transition */	
	transition: $defaultAnimation;	
}	 

.l-header--fill {

	/* visual */
	background-color: black;

}

.l-header__menu-btn {

	/* box-model */
	height: 14px;
    width: 30px;
    
    /* transition */
    transition: $defaultAnimation;

	/* positioning */
	position: relative;
	z-index: 60;

	&:before {

		/* positioning */
		position: absolute;
		top: 0;
		left: 0;

		/* box-model */
		content: "";
		height: 3px;
		width: 100%;
		display: block;

		/* visual */
		background-color: black;

		/* transition */
		transition: $defaultAnimation;
	}

	&:after {

		/* positioning */
		position: absolute;
		bottom: 0;
		left: 0;

		/* box-model */
		content: "";
		height: 3px;
		width: 100%;
		display: block;
		
		/* visual */
		background-color: black;

		/* transition */
		transition: $defaultAnimation;
	}
}


.l-header__menu-btn.is-open  {

    /* box-model */
    height: 30px;

	&:before {

		/* positioning */
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
	}

	&:after {

		/* positioning */
		bottom: 50%;
		transform: translateY(50%) rotate(-45deg);
	}
}