.turbolinks-progress-bar {

  /* box-model */
  height: 3px;

  /* visual */
  @apply .bg-white;

  /* positioning */
  z-index : 10000000;
  position: fixed;
  top : 0;
  left : 0;
  right : 0;
}

.l-preloader__logo {

	/* box-model */
	max-width: 150px;
	width: 100%;

	/* positioning */
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    
    @screen large {
       
        /* box-model */
        max-width: 200px;
    }
}


.l-preloader {

	/* positioning */
	z-index: 1001;
	left : 0;
	right : 0;
	bottom : 0;
	top : 0;
	position: fixed;

	/* box-model */
	height: 100%;
	padding: 2rem;

	/* visual */
	opacity: 0;
	pointer-events: none;
    visibility: hidden;
    background-color: black;

	/* transition */
	transition: $defaultAnimation;	
}

.is-preloading {
	overflow: hidden;
}

.is-preloading .l-preloader {

	/* visual */
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}