.c-public-sector-accreditations {

    /* visual */
    background: linear-gradient(140deg, config('colors.xynomix-red-ribbon') 0%, config('colors.xynomix-jaffa') 100%);
}

.c-public-sector-accreditations__intro {

    /* box-model */
    max-width: 700px;
}

.c-public-sector-accreditations__image {

    /* box-model */
    height: 95px;
}

.c-public-sector-accreditations__item {

    &:not(:last-of-type) {

        /* visual */
        border-bottom: 1px solid white;

        @screen large {

            /* visual */
            border-bottom: 0;
            border-right: 1px solid white;

            &:nth-of-type(2n) {

                /* visual */
                border-right: none;
            }
        }

        @screen xxlarge {

            &:nth-of-type(2n) {

                /* visual */
                border-right: 1px solid white;
            }
        }
    }
}