* {
    box-sizing: border-box;

    /* Opera/IE 8+ */
    outline: 0;
    margin : 0;
    padding : 0;
}

a:hover,
a:focus,
textarea:focus,
input:focus {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: $base-font-size-px;
    text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 300px;
    color: color(black);

    text-align: left;
    line-height: $line-height-copy;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left : 0;
    transition: left 0.5s map_get($transitions, linear);
    @include font-family(copy);
    @include font-size(16);
    background-color: color(white);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/***** global *****/

h1, h2, h3, h4, h5, h6 {
    color: currentColor;
    line-height: $line-height-heading;

    //@include font-family(prime);
    @include font-family(heading);
    color : color(black);
    letter-spacing : letterSpacingEm($font-spacing-heading);
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: .65em;
    color: color(grey);
}


.h1--large {
  @include font-size(48);
  @include margin-bottom(36);
  line-height: 1;

  @include breakpoint(xlarge){
    @include font-size(68);
  }
}

h1, .h1 {
    @include font-size(36);
    @include breakpoint(xlarge){
      @include font-size(36);
    }
}

h2, .h2 {
    @include font-size(30);

    @include breakpoint(xlarge){
      @include font-size(30);
    }
}

h3, .h3 {
    @include font-size(26);
    @include breakpoint(xlarge){
      @include font-size(26);
    }
}

h4, .h4 {
    @include font-size(24);
    @include breakpoint(xlarge){
      @include font-size(24);
    }
}

h5, .h5 {
    @include font-size(22);
    @include breakpoint(xlarge){
      @include font-size(22);
    }
}

p {
    line-height : $line-height-copy;
    // line-height : 1.4;
    letter-spacing : letterSpacingEm($font-spacing-copy);
    text-align: left;

    // color: color(black);
    color : currentColor;
    // @include font-size(16);


    @include breakpoint(xlarge){
      @include font-size(22);
      //@include line-height(18, 24);
    }
}

p a {
  color: currentColor;
  text-decoration: none;

  @include font-family(prime);

  &:hover {
      color: color(red);
  }
}

hr {
    display: block;
    height: 1px;
    margin: 0 auto;
    clear: both;
    width: 100%;
    border: 0;
    background-color: color(grey);
    @include margin-bottom(12);
}


/* #Lists */
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }

ul, ol {
  @include padding(0, 0, 0, 20);
  @include margin-bottom(18);
}


ol li,
ul li {
  //margin: 0;
  //padding: 0 0 0 ;
  color: currentColor;
  position : relative;
  // @include margin-bottom(22);
}


a {
    color: currentColor;
    cursor : pointer;
    transition: all $speed-2 map_get($transitions, linear);
    text-decoration : none;
    font-weight : $font-weight-bold;
    // @include font-size(16);
    letter-spacing: 0.024em;
    @include font-family(prime);

    @include breakpoint(xlarge){
      // @include font-size(18);
    }
}

a:hover, a:active {
    outline: none;
    text-decoration : none;
    transition: all $speed-2 map_get($transitions, linear);
}

a:hover {
    @include breakpoint(xlarge) {
        //color: color(grey);
    }
}

a:hover i {
    @include breakpoint(xlarge) {
        color: initial;
    }
}

abbr {
    border-bottom: 1px dotted currentColor;
    cursor: help;
    text-transform: uppercase;
}

strong {
    font-synthesis: none;
}

dt {
    @include font-size(16);
}

dd {
    border-bottom: 1px solid color(black);

    @include font-size(16);
}

sub, sup {
    display: inline-block;
    font-size: .75em;
    line-height: 1em;
    position: relative;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

img {
    display: block;
    border: none;
    width: 100%;
    max-width: 100%;
    height: auto;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

iframe {
    width: 100%;
}

address {
  font-style: normal;
  font-size : 80%;
}
