

blockquote, q {
  display     : block;
  background  : transparent;
  // margin      : 0 0 20px;
  // padding     : 10px 20px;
  // border-left : 5px solid #eeeeee;
  font-weight : 100;
  // @include font-size(17);

  // @include font-family(heading);
  // @include font-size(22);
  @include font-size(30);


  @include clearer;
  text-align: center;
  line-height: 1;
  border: none;
  padding: 0;

  @include breakpoint(large) {
    @include font-size(40);
  }
}

//blockquote {
//  padding: 10px 20px;
//  margin: 0 0 20px;
//  font-size: 17.5px;
//  border-left: 5px solid #eee;
//}

p blockquote,
p q {
  text-align : center;
}

blockquote span,
q span {
  font-style : normal;
}

blockquote:before,
q:before {
  content        : open-quote;
  color          : currentColor;
  // @include font-size(19);
  font-size: inherit;
  line-height    : 0.1em;
  margin-right   : 0.1em;
  vertical-align : 0.1em;

  @include breakpoint(large) {
	   //@include font-size(22);
     font-size: inherit;
	    vertical-align : 0.1em;
  }
}

blockquote:after,
q:after {
  content: '\201D';
  display: inline-block;
  z-index: 22;
  position: absolute;
  margin-top: 0;
  margin-left: 3px;
  // content        : close-quote;
  // color          : currentColor;
  // @include font-size(19);
  // line-height    : 0.1em;
  // margin-right   : 0.1em;
  // vertical-align : -0.1em;
  //
  @include breakpoint(large) {
	   font-size: inherit;
  }
}

blockquote .small,
blockquote footer,
blockquote small {
  display     : block;
  font-size   : 80%;
  line-height : 1.42857143;
  color       : #777777;
}
