@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src:   url('fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/BrandonGrotesque-Medium.otf')  format('opentype'),
	       url('fonts/BrandonGrotesque-Medium.woff') format('woff'),
         url('fonts/BrandonGrotesque-Medium.ttf')  format('truetype'),
         url('fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Candara';
  src:  url('fonts/Candara.eot?#iefix') format('embedded-opentype'),
        url('fonts/Candara.woff') format('woff'),
        url('fonts/Candara.ttf')  format('truetype'),
        url('fonts/Candara.svg#Candara') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Candara-Bold';
  src:   url('fonts/Candara-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Candara-Bold.woff') format('woff'),
         url('fonts/Candara-Bold.ttf')  format('truetype'),
         url('fonts/Candara-Bold.svg#Candara-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Candara-BoldItalic';
  src:  url('fonts/Candara-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Candara-BoldItalic.woff') format('woff'),
        url('fonts/Candara-BoldItalic.ttf')  format('truetype'),
        url('fonts/Candara-BoldItalic.svg#Candara-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Candara-Italic';
  src:  url('fonts/Candara-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Candara-Italic.woff') format('woff'),
        url('fonts/Candara-Italic.ttf')  format('truetype'),
        url('fonts/Candara-Italic.svg#Candara-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src:  url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans.woff') format('woff'),
        url('fonts/OpenSans.ttf')  format('truetype'),
        url('fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src:  url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Bold.woff') format('woff'),
        url('fonts/OpenSans-Bold.ttf')  format('truetype'),
        url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src:  url('fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('fonts/OpenSans-BoldItalic.ttf')  format('truetype'),
        url('fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Italic';
  src:  url('fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Italic.woff') format('woff'),
        url('fonts/OpenSans-Italic.ttf')  format('truetype'),
        url('fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verveine-Regular';
  src:  url('fonts/Verveine-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Verveine-Regular.woff') format('woff'),
        url('fonts/Verveine-Regular.ttf')  format('truetype'),
        url('fonts/Verveine-Regular.svg#Verveine-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
