pre code {
  padding          : 0;
  font-size        : inherit;
  color            : inherit;
  white-space      : pre-wrap;
  background-color : transparent;
  border-radius    : 0;
}

code {
  color                : colour(greys, grey-4);
  background-color     : colour(greys, grey-1);
  border-radius        : 4px;
  box-decoration-break : clone;

  padding : 2px 4px 2px 4px;
}
