
input {
  display          : block;
  width            : 100%;
  color            : color(black);
  background-color : transparent;
  border-style     : solid;
  border-width     : 1px;
  border-color     : color(grey);
  border-radius    : 0;
  box-shadow       : none;
  background-image : none;
  height           : 35px;
  line-height      : 1;
  font-weight      : $font-weight-bold;
  text-transform   : uppercase;
  @include font-family(titles);

  // @include font-size(16);
  margin : 0;
  @include padding(10,16);

  @include breakpoint(xlarge){
    height           : 42px;
    //@include padding(10,16);
  }

  &[type=button],
  &[type=submit],
  &[type=reset] {
  	display        : inline-block;
  	width          : auto;
  	text-transform : uppercase;
  	line-height    : 1.2;
  	border-width   : 1px;
  }
}
