
label {
  display   : inline-block;
  max-width : 100%;
  color     : color(dark-grey);

  font-weight: 700;
  @include font-size(14);
  margin-bottom: px2rem(4);

  text-align: left;
  float: left;
}
