

/* chrome, safari */
::-webkit-input-placeholder {
  position : relative;
  color    : color(dark-grey);

  //font-wei
  //font-weight : $font-weight-bold;

  //@include font-family(prime);
}

/* Firefox 19+ */
::-moz-placeholder {
  position : relative;
  color    : color(dark-grey);
  //font-weight : $font-weight-bold;

  //@include font-family(prime);
}
