select {
  height : 46px;
  background-color: transparent;
}

select.small {
  height      : 30px;
  line-height : 30px;
}

select.large {
  height      : 60px;
  line-height : 60px;
}

select[multiple], select[size] {
  height : auto;
}
