.c-internal-layout-cta {
    
    /* visual */
    box-shadow: 0px 16px 34px -7px rgba(#A2A1A1, 0.5);
}

.c-internal-layout-cta__button-wrapper {

    /* visual */
    background: linear-gradient(140deg, config('colors.xynomix-red-ribbon') 0%, config('colors.xynomix-jaffa') 100%);
}
