.c-internal-layout__list-icon {

    /* box-model */
    width: 14px;
    height: 9px;
    min-width: 15px;
    min-height: 10px;
}

.c-internal-layout__list-item {
    
    &:last-of-type {

        /* box-model */
        margin-bottom: 0;
    }
}

.c-internal-layout-list-with-image__image {
    
    /* visual */
    box-shadow: 0 24px 30px -7px rgba(0, 0, 0, 0.3);
}
